body{
    background-color: gray;
    padding: 0;
    margin: 0;
   
}

.tela_inicial{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.div_principal{
    width: 50%;
    height: 80%;
    
}

input {
    margin: 0;
    width: 26px;
    height: 26px;
    padding: 0;
    text-transform: uppercase;
   
    text-align: center;
    border: solid #02124e;
    background-color: #b0efeb;
    border-radius:  10%;
    box-shadow: #02124e79 2px 2px;
    font-size: 22px;
}

input::placeholder {
    font-size: 13px;
    color: white;
}

input:disabled {
    color: white;
    background-color: #f2116f50;
}

td {
    float: left;

}

.espaco{
    background-color: #ecbd39 !important;
    
}

/* .Desativado {
    background-color: #00000000 !important;
   border: solid #00000000  !important;
}  */